<!DOCTYPE html>
<html>
<head>
    <title>编辑</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/default/css")
    @Scripts.Render("~/bundles/jquery/plus")
</head>
<body>
    @RenderBody()
</body>
</html>