@using Apps.Models.Sys
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/default/css")
    @Styles.Render("~/Content/page/themes/default")
    @{
        AccountModel account = (AccountModel)Session["Account"];
        if (account == null)
        {
            account = new AccountModel();
            Response.Redirect(Url.Action("Index", "Account"));

        }
    }
</head>
<body class="page-header-fixed">
    @*页头*@
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <div class="header-inner">
            <a class="navbar-brand" href="index">
                LOGO
            </a>
            <a href="javascript:;" class="navbar-toggle collapsed">
                <img src="~/Content/Images/theme/menu-toggler.png" />
            </a>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img src="~/Content/Images/theme/avatar1_small.jpg" />
                        <span class="username">
                            @account.TrueName
                        </span>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="btnLogout" href="javascript:">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-container">
        @*菜单栏*@
        <div class="page-sidebar-wrapper">
            <div id="menuBox" class="page-sidebar navbar-collapse collapse">
                <div id="RightTree">
                    <p class="text-center" style="color:#fff;">菜单加载中...</p>
                </div>
            </div>
        </div>
        @*内容*@
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            &copy; @DateTime.Now.Year - 管理系统
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </span>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/easyui")
    @Scripts.Render("~/bundles/jquery/plus")
    @Scripts.Render("~/bundles/layer")
    <script>
        var baseUrl = window.location.protocol + "//" + window.location.host + "/";
        $(document).ready(function () {
            //获取菜单
            var o = {
                showcheck: false,
                url: "/Home/GetTree",
                onnodeclick: function (item) {
                    var tabTitle = item.text;
                    //var url = "../../" + item.value;
                    var icon = item.Icon;
                    if (!item.hasChildren) {
                        sessionStorage["APID"] = item.parent.id;
                        sessionStorage["ActiveId"] = item.id;
                        window.location = baseUrl + item.value;
                    } else {
                        $(this).parent().find("img").trigger("click");
                    }
                }
            }
            $.post("/Home/GetTree", { "id": "0" },
                function (data) {
                    if (data == "0") {
                        window.location = "/Account";
                    }
                    o.data = data;
                    $("#RightTree").treeview(o);
                    setActiveMenu();
                }, "json");

            //根据ActiveID设置选中的菜单
            function setActiveMenu() {
                var elId = "#RightTree" + "_" + sessionStorage["APID"];
                $(elId).trigger("click");
                $(elId).removeClass("bbit-tree-selected");
            };

            //汉堡菜单栏按钮点击事件
            var $menuBox = $("#menuBox");
            $(".navbar-toggle").click(function () {
                if ($(".navbar-collapse").hasClass("collapse")) {
                    $menuBox.removeClass("collapse").addClass("in");
                }
                else {
                    $menuBox.removeClass(" in").addClass("collapse");

                }
            });
            //退出按钮事件
            $("#btnLogout").click(function () {
                $.ajax({
                    url: baseUrl + "Account/Logout",
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        //layer.alert("退出成功");
                        window.location = baseUrl + "Account/Index";
                    },
                    error: function (error, xhr) {
                        layer.alert("退出失败，请重试");
                    }
                });
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
