@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/login.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")  
</head>
<body class="login">
    <div class="logo">
        LOGO
    </div>
    <div class="content">
        <form id="loginForm" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <h3>欢迎登录</h3>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="UserName" id="UserName" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" style="width: 80px; float: left;" id="Code" name="Code" placeholder="验证码">
                    <img id="codeImg" alt="刷新验证码！" style="cursor: pointer;height: 34px; margin: 0 5px; float: left;" src="~/Verify/GetVerifyCode" onclick="this.src=this.src+'?'" />
                    <a style="float: left; margin-top: 6px;" href="javascript:$('#codeImg').trigger('click')">看不清？</a>
                </div>
                <div class="col-sm-12 code-error">

                </div>
            </div>
            <div id="sError" style="display:none;" class="alert alert-danger" role="alert">
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" id="btnLogin" class="btn btn-primary pull-right">登录</button>
                </div>
            </div>
        </form>
    </div>
    <div class="copyright">
        &copy; @DateTime.Now.Year - 管理系统
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery/validate")
    @Scripts.Render("~/bundles/layer")
    <script>
        $(function () {
            var $loginForm = $("#loginForm");
            $loginForm.validate({
                errorPlacement: function (error, element) {
                    if (element.attr("id") == "Code") {
                        error.appendTo($(".code-error"));
                    }
                    else {
                        error.appendTo(element.parent());
                    }
                },
                debug: true,
                rules: {
                    UserName: {
                        required: true
                    },
                    Password: {
                        required: true,
                        minlength: 6,
                        maxlength: 16
                    },
                    Code: {
                        required: true,
                        minlength: 4,
                        maxlength: 4
                    }
                },
                submitHandler: function (form) {
                    //console.log($(form).serialize());
                    login($(form).serialize());
                }
            });

            $("#UserName").keydown(function (e) {
                var curkey = e.which;
                if (curkey == 13) {
                    clickLogin();
                    return false;
                }
            });
            $("#Password").keydown(function (e) {
                var curkey = e.which;
                if (curkey == 13) {
                    clickLogin();
                    return false;
                }
            });
            $("#Code").keydown(function (e) {
                var curkey = e.which;
                if (curkey == 13) {
                    clickLogin();
                    return false;
                }
            });
            //回车键
            document.onkeydown = function (event_e) {
                if (window.event)
                    event_e = window.event;
                var int_keycode = event_e.charCode || event_e.keyCode;
                if (int_keycode == 13) {
                    clickLogin();
                }
            }

            //触发登录按钮
            function clickLogin() {
                $("#btnLogin").trigger("click");
            }

            //登录AJAX
            function login(postData) {
                //loading层
                var loading = layer.load(2);
                $.post('/Account/Login', postData,
            function (data) {
                if (data.type == "1") {
                    window.location = "/Home/Index"
                } else {
                    $("#sError").show();
                    $("#sError").html(data.message);
                }
                layer.close(loading);
            }, "json");
            };

        });
    </script>
</body>
</html>