@model Apps.Models.Sys.SysUserModel
@using Apps.Core;
@using Apps.Models.Sys;

@{
    ViewBag.Title = "创建";
    List<PermModel> perm = (List<PermModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="formAdd" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增管理员</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName)
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password)
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TrueName)
                            @Html.EditorFor(model => model.TrueName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNumber)
                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmailAddress)
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.State, new { @checked = true })
                            @Html.LabelFor(model => model.State)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" id="btnSave" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>


