@model Apps.Models.Sys.SysUserModel
@using Apps.Models.Sys;
@{
    ViewBag.Title = "编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PermModel> perm = (List<PermModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>编辑</h4>
        @Html.ActionLink("返回", "Index")
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName)
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TrueName)
                        @Html.TextBoxFor(model => model.TrueName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TrueName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNumber)
                        @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress)
                        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.State, new { @checked = true })
                        @Html.LabelFor(model => model.State)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CreatePerson)
                        @Html.TextBoxFor(model => model.CreatePerson, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CreatePerson, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CreateTime)
                        @Html.TextBoxFor(model => model.CreateTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CreateTime, "", new { @class = "text-danger" })
                    </div>
                    <fieldset disabled>
                       
                    </fieldset>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="保存" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("返回", "Index")
    </div>
</div>

@section Scripts {

}
